@model ProjetoWeb2.Models.Atividades

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Atividades</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="VoluntarioNrId" class="control-label"></label>
                <input asp-for="VoluntarioNrId" class="form-control" />
                <span asp-validation-for="VoluntarioNrId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="InstituicaoNrId" class="control-label"></label>
                <input asp-for="InstituicaoNrId" class="form-control" />
                <span asp-validation-for="InstituicaoNrId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OportunidadeNrId" class="control-label"></label>
                <input asp-for="OportunidadeNrId" class="form-control" />
                <span asp-validation-for="OportunidadeNrId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AtividadeDtDataInicio" class="control-label"></label>
                <input asp-for="AtividadeDtDataInicio" class="form-control" />
                <span asp-validation-for="AtividadeDtDataInicio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AtividadeDtDataFim" class="control-label"></label>
                <input asp-for="AtividadeDtDataFim" class="form-control" />
                <span asp-validation-for="AtividadeDtDataFim" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AtividadeNrHorasTrabalhadas" class="control-label"></label>
                <input asp-for="AtividadeNrHorasTrabalhadas" class="form-control" />
                <span asp-validation-for="AtividadeNrHorasTrabalhadas" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
