@model ProjetoWeb2.Models.Oportunidades

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Oportunidades</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="InstituicaoNrId" class="control-label"></label>
                <input asp-for="InstituicaoNrId" class="form-control" />
                <span asp-validation-for="InstituicaoNrId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OportunidadeTxTitulo" class="control-label"></label>
                <input asp-for="OportunidadeTxTitulo" class="form-control" />
                <span asp-validation-for="OportunidadeTxTitulo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OportunidadeTxDescricao" class="control-label"></label>
                <input asp-for="OportunidadeTxDescricao" class="form-control" />
                <span asp-validation-for="OportunidadeTxDescricao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OportunidadeTxLocalizacao" class="control-label"></label>
                <input asp-for="OportunidadeTxLocalizacao" class="form-control" />
                <span asp-validation-for="OportunidadeTxLocalizacao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OportunidadeTxTipoAtividade" class="control-label"></label>
                <input asp-for="OportunidadeTxTipoAtividade" class="form-control" />
                <span asp-validation-for="OportunidadeTxTipoAtividade" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OportunidadeTxDisponibilidade" class="control-label"></label>
                <input asp-for="OportunidadeTxDisponibilidade" class="form-control" />
                <span asp-validation-for="OportunidadeTxDisponibilidade" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
