@model ProjetoWeb2.Models.Voluntarios

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Voluntarios</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="VoluntarioNrid" />
            <div class="form-group">
                <label asp-for="VolutarioNTxome" class="control-label"></label>
                <input asp-for="VolutarioNTxome" class="form-control" />
                <span asp-validation-for="VolutarioNTxome" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="VoluntarioDtDataNascimento" class="control-label"></label>
                <input asp-for="VoluntarioDtDataNascimento" class="form-control" />
                <span asp-validation-for="VoluntarioDtDataNascimento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="VoluntarioTxCpf" class="control-label"></label>
                <input asp-for="VoluntarioTxCpf" class="form-control" />
                <span asp-validation-for="VoluntarioTxCpf" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="VoluntarioTxEmail" class="control-label"></label>
                <input asp-for="VoluntarioTxEmail" class="form-control" />
                <span asp-validation-for="VoluntarioTxEmail" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="VoluntarioTxTelefone" class="control-label"></label>
                <input asp-for="VoluntarioTxTelefone" class="form-control" />
                <span asp-validation-for="VoluntarioTxTelefone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="VoluntarioTxEndereco" class="control-label"></label>
                <input asp-for="VoluntarioTxEndereco" class="form-control" />
                <span asp-validation-for="VoluntarioTxEndereco" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
